.side-bar-button-text {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
    cursor: pointer;
}

.group:hover .side-bar-button-text {
    transform: translateX(calc(var(--button-width)/2 - var(--span-width)/2 - 10px)); 
}